input {
  width: 40px;
  height: 40px;
}

.Game-container {
  display: flex;
  /* flex-direction: column; */
  input[type="checkbox"] {
    width: 40px;
    height: 40px;
    margin: 1px;
    border: 1px solid black;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  input[type="checkbox"]:checked {
    background-color: black;
  }
}

.game-box {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    margin: 0 auto;
    gap: 5px;
  }
}

.COLUMN {
  margin-left: 60px;
  display: flex;
  gap: 40px;
}
.ROW {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .row-hints {
    display: flex;
    gap: 10px;
  }
  /* display: flex; */
}
.GAME-ALL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 50%;
  margin: 2rem auto;
}
button:hover {
  cursor: pointer;
}
