@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
}
body {
  height: 100%;
}

.main-all-container {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.main-form-container {
  width: 50%;
  margin: 100px auto;

  input[type="checkbox"] {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    cursor: pointer;
    margin: 1px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  input[type="checkbox"]:checked {
    background-color: black;
  }
}

.p_row_num1 {
}
