@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
}
body {
  height: 100%;
}
body.HM-main_container {
  margin: 0 10px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}
.HM-main_body {
  flex: 1;
}
.HM-main_header {
  /* background-image: url("/webapp/static/images/sketch.jpg"); */
  background-color: black;
  padding: 2rem;
  h1 {
    color: white;
  }
}

/* 스케치 */
.HM-main_sketch {
  display: flex;
  div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: auto;
  }
}

.HM-main_hover_box {
  margin-left: auto;
  width: 30px;
  height: 30px;
  border-bottom: 40px solid gray;
  border-right: 60px solid rgba(0, 0, 0, 0);
  transition: 2s;
}
.HM-main_hover_box:hover {
  border-bottom: 80px solid black;
  border-right: 120px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}
.HM-main_nav {
  display: none;
  /* visibility: visible; */
  ul {
    flex: 1;
    list-style: none;
    display: flex;
    border: 1px solid #ddd;
    transition: 1s;
    li {
      flex: 1;
      height: 40px;
      background-color: black;
      color: white;
      text-align: center;
    }
  }
}
.HM-main_nav li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
