<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nemo.hello.dao.PlayerDao">
	
	
	<update id="update">
		UPDATE tbl_nemo_play
		SET 
		${p_block_name} = #{p_block_value}
		WHERE p_id = #{p_id} AND p_num = #{p_num}
		 AND p_row_num = #{p_row_num}
	</update>
	

	
	<update id="reset">
		UPDATE tbl_nemo_play
		SET 
		p_block1 = '0',p_block2 = '0',p_block3 = '0',
		p_block4 = '0', p_block5 = '0'
		WHERE p_id = #{p_id} AND p_num = #{p_num}
		AND p_row_num = #{p_row_num}
	</update>	

</mapper>