.input_box {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  input {
    width: 30px;
    height: 30px;
  }
}

.game {
  display: flex;
  flex-direction: column;
}

.input_box {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
}
.hint_game {
  display: flex;
}
.all {
  border: 1px solid #ddd;
  padding: 10px;
}
.delete {
  display: flex;
  margin-left: 10px;
  align-items: center;
  button {
    background-image: url("../../public/img/eraser_icon.png");

    width: 100px;
    height: 100px;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}
.save_div {
  width: 50%;
  margin: 0 auto;
  button {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: black;
    &:hover {
      cursor: pointer;
    }
  }
}
