.input_box {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  input {
    width: 30px;
    height: 30px;
  }
  input:checked {
    background-color: black;
  }
  input[type="checkbox"][value="1"] {
    background-color: black;
  }
}

.game {
  display: flex;
  flex-direction: column;
}

.input_box {
  display: flex;
}
.row_box {
}
.form {
  display: flex;
  flex-direction: column;
}
.hint_game {
  display: flex;
}
